@mixin margin($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}
@mixin padding($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}
@mixin input {
    @include margin(null, 24px, 16px, 24px);
    @include padding(14px, null, 17px, 27px);
    border-radius: 24px;
    border: none;
    width: 327px;
    font-family: $PublicSans;
    font-weight: bold;
    font-size: 15px;
    color: $SanJuanBlue;
    box-shadow: 10px 10px 25px rgba($SanJuanBlue, .25);
}
@mixin demo-button {
    border: none;
    border-radius: 24px;
    background-color: $DarkPink;
    color: $LinkWaterWhite;
    @include padding(16px, 46px, 15px, 50px);
    width: 327px;
    font-size: 15px;
    font-family: $PublicSans;
    font-weight: bold;
}